.whereamI {
    position: absolute;
    top: 0%;
    left: -0.05%;
    border-bottom: 1px solid black;
    color: #fff;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.lblHome:hover
{
    cursor: pointer;
}

.Posts
{
    border: 1px solid black;
    position: absolute;
    left: 20%;
    top: 9%;
    color: #fff;
    height: 90.5%;
    width: 60%;
}

.Posts .PFP
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 1%;
}

.Posts .PFP:hover
{
    cursor: pointer;
}

.Posts .Name .Name
{
   text-decoration: none;
   width: fit-content;
   height: fit-content;
   color: #fff;
   font-size: 30px;
   position: absolute;
   top: 1.5%;
   left: 8%;
}

.Posts .Name .Name:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.Posts .Username
{
    position: absolute;
    top: 7.5%;
    left: 8%;
}

.Posts .Post
{
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    position: absolute;
    top: 12.5%;
    left: 8%;
}