.whereamI
{
    position: absolute;
    top: 0%;
    left: -0.05%;
    border-bottom: 1px solid black;
    color: #fff;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.User
{
    border: 1px solid black;
    position: absolute;
    left: 20%;
    top: 9%;
    color: #fff;
    height: 90.5%;
    width: 60%;
}

.PFP
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 8%;
}

.User .Name
{
    border: 1px solid black;
    position: absolute;
    top: 22%;
    left: 22%;
    font-size: x-large;
}

.User .Username
{
    border: 1px solid black;
    position: absolute;
    top: 28%;
    left: 22%;
}