.MenuDiv
{
    position: absolute;
    top: 5%;
    left: 95%;
}
.delete span
{
    color: #ff0000;
}

.delete
{
    background-color: #808080;
}

.delete:hover
{
    background-color: #666666;
}

td
{
    border: 1px #808080;
}

td:hover
{
    cursor: pointer;
}

.delete-content
{
    display: inline-block;
}

.classMenuDots:hover
{
    cursor: pointer;
}