.whereamI {
    position: absolute;
    top: 0%;
    left: 50%;
    color: #fff;
    font-size: 50px;
    width: 100%;
    text-align: center;
    width: fit-content;
}

.FullPost {
    border: 1px solid black;
    position: absolute;
    top: 10%;
    left: 30%;
    height: 60%;
    width: 50%;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.Content {
    border: 1px solid black;
    color: #fff;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 1%;
}

.txtContent {
    resize: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    justify-content: left;
    outline: none;
    margin: 0;
}

.txtContent:hover {
    cursor: default;
}

.AddComment {
    border: 1px solid black;
    position: absolute;
    top: 27%;
    width: 100%;
    height: 10%;
}

.CommentContent {
    height: 100%;
    width: 80%;
    resize: none;
}

.AddComment button {
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 10px;
    background-color: #007bff;
}

.AddComment button:hover {
    background-color: #405bd4;
    cursor: pointer;
}

.Comments {
    border: 1px solid black;
    position: absolute;
    top: 38%;
    width: 100%;
    height: 60%;
    overflow-y: auto;
}

.Comment {
    border: 1px solid black;
    width: 99%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

.PFP {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.Name {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px; /* Add padding to separate the profile picture from the name */
}

.Name a {
    text-decoration: none;
    color: #fff;
}

.Name .Username {
    color: #fff;
    margin: 0; /* Remove default margin */
    padding-left: 5px; /* Add padding to separate the name from the username */
}

.DateAndTime .pDate
{
    
}
