nav {
    text-align: left;
    width: fit-content; /* Set your desired width */
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable vertical scrolling if the content is too tall */
}

.navmenu {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
}

.navmenu:hover
{
    background-color: #405bd4;
}
